@charset "UTF-8";
.cuerpo-1 {
  width: 100%;
}

.cuerpo-2 {
  width: 200%;
}

.cuerpo-3 {
  width: 100% -20px;
}

.mi1 {
  color: #FF0075;
}

.mi2 {
  background-color: #B2F9FC;
}

.promo, .estacion, .cuerpo, .congelar {
  background-color: burlywood;
  word-spacing: 0%;
  border: black;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  height: 20%;
  width: 20%;
  padding: 2.5em;
  margin: 20px 20px;
  color: blue;
  font-size: 1.6rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  word-spacing: normal;
  font-weight: bold;
  list-style-position: left;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  align-items: left;
}

.promo-1, .promo-2, .promo-3, .promo-4, .estacion-1, .estacion-2, .estacion-3 {
  color: blue;
  font-size: 1.6rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  align-items: center;
  list-style-position: left;
  list-style-type: circle;
}

.congelar {
  background-color: burlywood;
}

.cuerpo {
  border: black;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Header */
#header {
  height: 3em;
  width: 3em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.5rem;
  background-color: #FFEEBB;
  top: 0;
  text-align: right;
  padding: 1.2em 0;
  width: 1em;
  border: 0.2em solid blue;
  background-position: top;
  margin: 1em;
  align-content: flex-end;
  display: inline-block;
}
#header .miHeader {
  margin: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.menuNav {
  text-align: right;
  display: flex;
  margin-left: 1em;
  justify-content: flex-end;
  flex-direction: row;
}
.menuNav li {
  position: relative;
  padding: 1em;
  margin: 0.4em;
  border-radius: 0.4em;
  text-align: center;
  display: flex;
  padding-left: 0.4em;
  list-style-position: inside;
  justify-content: flex-end;
}
.menuNav li a {
  text-decoration: none;
  color: #191A19;
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  border-radius: 0.2em solid navy;
  display: flex;
  justify-content: flex-end;
  display: grid;
  justify-self: end;
  align-self: center;
}

.menuNav li:hover {
  background-color: #f1a7f5;
  color: white;
  font-size: 1.2em;
}

.logo-nav {
  position: top;
  width: 1em;
  height: 6em;
  padding: 1em;
  border-radius: 0.2em solid navy;
  display: flex;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Esta es la segunda sección  */
/*Carrusel de Boostrap*/
.tales {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 100%;
  max-height: 800px;
}

.carousel-inner .item img {
  width: auto;
  height: 115px;
  max-height: 800px;
  object-fit: scale-down;
  height: 400vh;
  width: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}

.carousel-item img {
  max-height: 28rem;
}

@media (max-width: 688px) {
  .carousel-item img {
    max-height: 246px;
  }
}
.section-0 {
  padding: 0.9em;
  border-radius: 1em;
  border: 0.2em #a19393;
  margin: 0.8em 0.6em;
  background-color: #f1d9ac;
  background-position: bottom;
}

/* Esta es la tercer sección */
.section-1 {
  padding: 3em;
  border: 0.2em solid black;
  border-radius: 1rem;
  background-color: black, burlywood, blue, brown, #3c7c7c, indigo, #FDFFBC, #FFEEBB, #FFDCB8;
  color: blue;
  font-size: 1em;
  font-style: italic;
  /* declaro flexbox */
  display: flex;
  justify-content: space-around;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  order: content;
}
.section-1 .boton-2 {
  padding: 1em;
  border: 0.2em solid black;
  border-radius: 1rem;
  background-color: black, burlywood, blue, brown, #3c7c7c, indigo, #FDFFBC, #FFEEBB, #FFDCB8;
  color: blue;
  font-size: 1rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.4em;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  display: grid;
  justify-self: start;
  align-self: start;
  grid-column: 2/3;
}
.section-1 .boton-1 {
  padding: 1em;
  border: 0.2em solid black;
  border-radius: 1rem;
  background-color: black, burlywood, blue, brown, #3c7c7c, indigo, #FDFFBC, #FFEEBB, #FFDCB8;
  color: blue;
  font-size: 1rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  margin: 0.4em;
  text-align: center;
  font-weight: bold;
  display: grid;
  justify-self: end;
  align-self: start;
  grid-column: 1/2;
}

/*Esta es la cuarta sección*/
.section-2 {
  padding: 0.7em;
  border-radius: 0.5em;
  border: 1px solid black;
  color: blue;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-align: center;
  /* Declaro flexbox */
  display: flex;
  justify-content: space-around;
  order: content;
  align-items: center;
  position: relative;
  /* Declaro grid*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0.4em;
  border: 0.2em, rgb 161, 133, 133;
}
.section-2 img {
  padding: 0.8em 0.8em 0.8em 0.8em;
  border-radius: 0.2em;
  border: 0.6em solid brown;
  position: left;
  width: 148%;
  height: 95%;
  justify-self: stretch;
}
.section-2 .calidad {
  color: #3c7c7c;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
  list-style-type: armenian;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-60%, -60%);
}
.section-2 .calidad-1 {
  padding: 0.8em 0.8em 0.8em 0.8em;
  border-radius: 0.8em;
  border: 0.2em;
  position: right;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  order: content;
  align-items: center;
  text-align: center;
}

.section-3 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  word-spacing: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
  border: 0.2em solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
.section-3 div {
  background-size: 100%;
  align-items: center;
  font-style: italic;
  list-style-type: armenian;
  font-weight: bold;
  /* Declaro flexbox */
  display: flex;
  justify-content: space-around;
}
.section-3 div a {
  color: indigo;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 4%;
}

.promo {
  color: blue;
  font-size: 1.9rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  list-style-position: left;
  list-style-type: circle;
  background-color: burlywood;
  word-spacing: 0%;
  border: black solid;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  height: 20%;
  width: 20%;
  padding: 0.8em;
  margin: 1.2em auto;
}

.semillas {
  color: blue;
  font-size: 2.2rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  list-style-position: left;
  list-style-type: circle;
  background-color: burlywood;
  word-spacing: 0%;
  border: black solid;
  font-weight: bold;
  text-align: left;
  border-radius: 0.4rem;
  height: 20%;
  width: 20%;
  padding: 0.8em;
  margin: 1.5em auto;
}

.boton-3 div h4 {
  color: blue;
  font-style: italic;
  text-align: left;
  font-size: 1.7rem;
  text-decoration: underline;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-areas: "header header header header header header header header header" "Section-0" "section-1 section-1 " "section-2 section-2 section-2 section-2" "section-3 section-3" "footer footer footer";
}

/* Pseudo clase */
.boton-2:active {
  background-color: darkgreen;
}

/* Pseudo clase */
.boton-1:hover {
  background-color: blue;
  color: aliceblue;
  padding: 1.7em;
}

/* Position */
.boton-1 {
  position: sticky;
  top: 0;
  display: flex;
}

.boton-2 {
  position: sticky;
  top: 1.6em;
  left: 2em;
  display: flex;
  flex-direction: row;
}

.section-2 {
  padding: 0.8em;
  border-radius: 1em;
  border: 0.2em solid black;
  /* Declaro flexbox */
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

/*Botstrap  */
.dropdown-menu {
  background-color: burlywood;
  text-decoration: none;
}

.container {
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
}

.container div img {
  justify-self: stretch;
  position: absolute;
}

/* Este es footer */
* {
  margin: 0px;
  padding: 0px;
}

.footer {
  background-color: nth black, burlywood, blue, brown, #3c7c7c, indigo, #FDFFBC, #FFEEBB, #FFDCB8, 10;
  width: auto;
  height: 15em;
  padding: 1.2em;
  border-radius: 1.4em;
  border: 0.2em solid black;
  font-size: 1.3rem;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: flex-start;
  flex: 2;
  display: grid;
  grid-template-areas: "footer-2 footer-3" "footer-5 footer-6" "footer-7";
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-auto-rows: 1fr 2fr 1fr;
  gap: 0.8em;
}

.footer-2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1;
  gap: 1em;
  justify-self: end;
  align-self: start;
}

.footer-3 {
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
  gap: 1em;
  justify-self: end;
  align-self: start;
}

.footer-5 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1;
  justify-self: start;
  align-self: start;
}

.footer-6 {
  display: grid;
  grid-column: 3/4;
  grid-row: 1;
  justify-self: center;
  align-self: start;
}

.footer-7 {
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  justify-self: center;
}

footer section div p h5 {
  color: #2e2446;
  text-align: left;
  text-decoration: underline;
  font-style: italic;
  font-size: 80px;
  font-weight: bold;
}

footer div ul li {
  color: #480488;
  font-style: oblique;
  font-size: 1re;
  font-weight: bold;
}

.footer-7 p h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  font-weight: bold;
  color: black;
  display: flex;
  flex-wrap: content;
}

.footer-7 {
  display: flex;
  order: -1;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/*Color de fondo*/
body {
  background-color: #FFDCB8;
}

.estación ul li {
  color: blue;
  font-size: 25px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  list-style-position: left;
  list-style-type: circle;
}

.contener {
  color: blue;
  font-size: 25px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  border-radius: 2px;
  list-style-position: left;
}

.contener .mi {
  color: blue;
  font-size: 25px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  list-style-position: left;
  list-style-type: circle;
}

.cuerpo {
  text-decoration: none;
  background-color: burlywood;
  border: black solid;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  height: 50%;
  width: 50%;
  padding: 150px;
  margin: 20px auto;
  color: blue;
  font-size: 20px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  word-spacing: normal;
  font-weight: bold;
}

.cuerpo ul li h3 {
  color: blue;
  font-size: 20px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.cuerpo img {
  width: 8em;
  margin: 2px;
  align-items: center;
}

.cuerpo h3 {
  text-align: justify;
  font-size: 1.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  border: radius 2px;
  background-color: #FFEEBB;
  box-shadow: 0, 0.1rem, 2rem, rgba(0, 0, 0, 0.12);
}

.congelar1, .congelar2, .congelar3, .congelar4 {
  color: blue;
  font-size: 30px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: none;
  word-spacing: normal;
  font-weight: bold;
  align-items: center;
  list-style-position: left;
  list-style-type: circle;
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 2fr 2fr;
}

.congelar {
  background-color: burlywood;
  word-spacing: 0%;
  border: black;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  height: 20%;
  width: 20%;
  margin: 20px auto;
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 2fr 2fr;
}

.mi1, .mi2, .contener h2 {
  background-color: burlywood;
  font-size: 25px;
  font-style: italic;
  word-spacing: 0%;
  border: black solid;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  height: 20%;
  width: 20%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 2px;
}

.estación {
  background-color: #e4f59b;
  word-spacing: 0%;
  border: black solid;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  height: 20%;
  width: 20%;
  padding: 15px;
  margin: 20px auto;
  transition: all 2s;
}

/*# sourceMappingURL=style.css.map */
