@import"../base/colors";
//selector-universal
* {
    margin: 0px;
    padding: 0px;
}
 //Mixin
@mixin container ($height, $width,$position, $display, $direction, $justify){
    height: $height;
    width: $width;
    position:$position;
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
}
/* Header */
#header{
     //Mixin
    @include container(10%, 100%, fixed, flex, row,space-around );
    top:0;
    text-align: right;
    padding: 1.2em 0; 
    width: 2em;
    border: .2em solid nth($colores, 3);
    background-position: top;
    margin-left: .4em;
    display: inline-block;
    display: grid;
    grid-template-columns:4em 4em 4em 4em 4em 4em 4em 4em 4em ;
}

.menuNav {
    text-align: right;
    display: flex;
    margin-left: .2em;
    flex-direction:row ;
    justify-content: flex-end;
}
.menuNav li {
    position: top;
    padding: 1em;
    margin: 0.4em;
    border-radius: .4em;
    text-align: center;
    display:flex;
    flex-direction: row-reverse;
    padding-left: .2em;
    list-style-position: inside;
    justify-content: flex-end;
    align-content: space-around;
}
.menuNav li:hover {
    background-color:$color-hover;
    color:$color-font-hover;
    font-size: $size;
}
.menuNav li a {
    text-decoration: none;
    color: #191A19;
    font-size: 1rem;
    margin: 0 auto;
    font-family:$fonts;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.miHeader {
    margin: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}