@import"../base/colors";
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
/*Color de fondo*/
body {
    background-color:nth($colores, 9 );  
}

.estación ul li {
    color: nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    list-style-position:left;
    list-style-type: circle;
}
.contener {
    color:nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    border-radius: 2px;
    list-style-position:left;  
}   
.contener .mi {
    color: nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    list-style-position:left;
    list-style-type: circle;
}
.cuerpo {
    text-decoration: none;
    background-color:nth($colores , 2);
    border:nth($colores , 1) solid ;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    padding: 150px;
    margin: 20px auto;   
    color:nth($colores, 3);
    font-size : 20px;
    font-style :italic;
    font-family:$fonts;
    word-spacing: normal;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
   

    ul{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-areas:
         "cuerpo-1 cuerpo-2"
        "cuerpo-3"
        "cuerpo-4";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2em;
        .cuerpo-1{
            display: grid;
            grid-column: 1/2;
            grid-row: 1;
            justify-self: center;
            align-self: center;
        }
        .cuerpo-2{
            display: grid;
            grid-column: 3/4;
            grid-row: 1;
            justify-self: center;
            align-self: center;
        }
        .cuerpo-3{
            display: grid;
            grid-column: 1/3;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
        }
        .cuerpo-4{
            display: flex;

            display: grid;
            grid-column: 1/4;
            grid-row: 3;
            justify-self: center;
            align-self: center;
        }
        img {
            width: 200px;
            height: 180px;
            margin:2px;
            align-items: center;   
        }
        .card {
            width: 330px;
            height: 430px;
            overflow: hidden;
            border: radius 8px;
            background-color:nth($colores, 8);
            box-shadow: 0, 0.2rem, 0.2rem, rgba(0,0,0,0.2) ;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            
        }
        h3 {
            text-align: center;
            font-weight: 100;
            color:nth($colores, 3);
            font-style: italic;
            font-family:$fonts;
            font-weight:bold ;
            font-size: 1.7em;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        iframe {
             width: 100px;
             height: 50px; 
             margin: 0 auto;
             position:relative;
             top: 0;
             left: 0;
        }

    }
}


.congelar1, .congelar2, .congelar3, .congelar4 {
    color: nth($colores, 3);
    font-size : 30px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    align-items: center;
    list-style-position:left;
    list-style-type: circle;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2fr 2fr;  
}
.congelar {
    background-color:nth($colores , 2);
    word-spacing:0%;
    border:nth($colores , 1) ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    height: 20%;
    width: 20%;
    margin: 20px auto;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2fr 2fr;   
}

.mi1 ,.mi2, .contener h2 {
    background-color:nth($colores , 2);
    font-size : 25px;
    font-style :italic;
    word-spacing:0%;
    border: nth($colores , 1) solid ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px ;
    height: 20%;
    width: 20%;
    padding: 10px;
    margin: 20px auto;  
    border-radius: 2px;   
}
.estación {
    background-color:rgb(228, 245, 155);
    word-spacing:0%;
    border:nth($colores , 1) solid ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    height: 20%;
    width: 20%;
    padding: 15px;
    margin: 20px auto;
    transition: all 2s;
}  


