@import"../base/colors";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/*Color de fondo*/
body {
    background-color:nth($colores, 9 );  
}
//Mixin
//.card
@mixin carta {
    background-color:nth($colores, 8);
    box-shadow: 0, 0.2rem, 0.2rem, rgba(0,0,0,0.2) ;        
    width: 330px;
    height: 430px;
    border-radius: 8px;
    overflow:hidden;
    margin: 1.5em;
    text-align: center;
    transition: all 0.25s;
    &:hover {
        transform: translate(-2em);
        box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    }
}

@mixin container {
    background-color:nth($colores , 2);
    border:nth($colores , 1) solid ;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    padding: 150px;
    margin: 20px auto;   
    color:nth($colores, 3);
    font-size : 20px;
    font-style :italic;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
//ul
@mixin lista {
    width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
}
@mixin image {
    width: 200px;
    height: 180px;
    margin:2px;
    align-items: center;  
}
//h3
@mixin letra {
    text-align: center;
    font-weight: 100;
    color:nth($colores, 3);
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold ;
    font-size: 1.7em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.cuerpo {
   @include container;
    
    ul{
        @include lista;
        display: grid;
        grid-template-areas:
        "cuerpo-1 cuerpo-2"
        "cuerpo-3";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2em;
        img {
            @include image;   
        }
        .card {
            @include carta;   
        }
        h3 {
            @include letra;
        }
    }
}
.congelar {
    @include container;
    ul { 
        @include lista;
        display: grid;
        grid-row: 1fr 1fr 1fr;
        grid-column: 2fr ;
        grid-template-areas:
        "congelar1 congelar2"
        "congelar3";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2em;
        .card {
            @include carta;   
        }
        h3 {
            @include letra;
        }
        img {
            @include image;
            
        }
        

    } 

}


.estacion {
    @include container;
    ul {
        @include lista;
        .card {
            @include carta;}
        h3{
            @include letra;}
        img {
            @include image;}
    }
}
.promo {
    @include container;
    ul {
        @include lista;
        display: grid;
        grid-row: 1fr 1fr 1fr ;
        grid-column: 2fr 2fr;
        grid-template-areas:
        "promo-1 promo-2"
        "promo-3 promo-4";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5em;
    .card {
        @include carta;}
    h3 {
        @include letra;}
    img {
        @include image;}
    }    
}  
.semillas {
    @include container;
    ul {
        @include lista;
    .card {
        @include carta;
    }    
    h3 {
        @include letra;
    }
    img {
        @include image;
    }
    } 
}

