@import"../base/colors";
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
/*Color de fondo*/
body {
    background-color:nth($colores, 9 );  
}

.estación ul li {
    color: nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    list-style-position:left;
    list-style-type: circle;
}
.contener {
    color:nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    border-radius: 2px;
    list-style-position:left;  
}   
.contener .mi {
    color: nth($colores, 3);
    font-size : 25px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    list-style-position:left;
    list-style-type: circle;
}
.cuerpo {
    background-color:nth($colores , 2);
    word-spacing:0%;
    border:nth($colores , 1) solid ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    height: 50%;
    width: 50%;
    padding: 200px;
    margin: 20px auto;   
    color:nth($colores, 3);
    font-size : 30px;
    font-style :italic;
    font-family:$fonts;
    word-spacing: normal;
    font-weight: bold;
    list-style-position:left;
    list-style-type: circle;
}
.cuerpo ul li h3 {
    color:nth($colores, 3);
    font-size: 20px;
    font-style: italic;
    font-family:$fonts;
    font-weight:bold ;
    list-style-position: inside;
    list-style-type: circle;
 }
.cuerpo img {
    margin:2px;
    align-items: center;   
}
.cuerpo h3 {
    text-align: right;
}

.congelar1, .congelar2, .congelar3, .congelar4 {
    color: nth($colores, 3);
    font-size : 30px;
    font-style :italic;
    font-family:$fonts;
    text-transform: none;
    word-spacing: normal;
    font-weight: bold;
    align-items: center;
    list-style-position:left;
    list-style-type: circle;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2fr 2fr;  
}
.congelar {
    background-color:nth($colores , 2);
    word-spacing:0%;
    border:nth($colores , 1) ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    height: 20%;
    width: 20%;
    margin: 20px auto;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2fr 2fr;   
}

.mi1 ,.mi2, .contener h2 {
    background-color:nth($colores , 2);
    font-size : 25px;
    font-style :italic;
    word-spacing:0%;
    border: nth($colores , 1) solid ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px ;
    height: 20%;
    width: 20%;
    padding: 10px;
    margin: 20px auto;  
    border-radius: 2px;   
}
.estación {
    background-color:rgb(228, 245, 155);
    word-spacing:0%;
    border:nth($colores , 1) solid ;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    height: 20%;
    width: 20%;
    padding: 15px;
    margin: 20px auto;
    transition: all 2s;
}  


