$color-background:#FFAB4C;
$color-hover: #f1a7f5;
$color-border:#142F43;
$color-font-hover:white;
$fonts:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fonts-style:italic;
$size:1.2em;
$position-hover: center;


