$color-background:#FFAB4C;
$color-hover: #B000B9;
$color-border:#142F43;
$color-font-hover:white;
$fonts:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fonts-style:italic;
$size:25px;

